// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #b55400;
$secondary : #222831;
$accent    : #b55400;
$dark      : #222831;
$typography-font-family: 'Muli';
$positive  : #1a752f;
$negative  : #940415;
$info      : #268294;
$warning   : #b59231;
$alliance  : #3C5C84;
$horde     : #DF493D;

@import '~quasar-variables-styl'
